[submodule "osvvm"]
	path = osvvm
	url = ../OSVVM.git
[submodule "Common"]
	path = Common
	url = ../OSVVM-Common.git
[submodule "Scripts"]
	path = Scripts
	url = ../OSVVM-Scripts.git
[submodule "AXI4"]
	path = AXI4
	url = ../AXI4.git
[submodule "UART"]
	path = UART
	url = ../UART.git
[submodule "Documentation"]
	path = Documentation
	url = ../Documentation.git
[submodule "DpRam"]
	path = DpRam
	url = https://github.com/OSVVM/DpRam.git
